/* ameo tiene una moneda */
.announcements {
	display: none !important;
}

/* tags */
.ui-content > div:nth-child(2) {
	display: none !important;
}

/* el primer boton respuesta */
.ui-controlgroup-horizontal:nth-child(1) {
	display: none !important;
}

/* boton suscripcion */
.modbuttongroup .ui-btn {
	width: 50% !important;
}

/* links sociales y separador en posts */
span.share-separator {
	display: none !important;
}

.postbitlegacy .postfoot .postcontrols a.share-link, .postbit .postfoot .postcontrols a.share-link {
	display: none !important;
}

/* ocultar firmas en los posts */
ol#posts li div.postbody blockquote.signature {
	display: none !important;
}

/* descripcion de los foros 
.forumbits .ui-listview .ui-li-desc p {
	display: none !important;
}*/

/* descripcion de los sub-foros */
.forumbit_post .ui-btn-text .ui-li-desc {
	display: none !important;
}

/* subforums sin colapsar */
.ui-collapsible-content-collapsed {
  display: block !important;
}

/* deshabilitamos el submenu 
.navbar {
  display: none !important;
}*/

/* deshabilitamos el banner principal */
#user_bar {
  display: none !important;
}

.above_body {
  display: none !important;
}

/* movemos a la izq. username y salir */
#header .username {
    right: 50px !important;
}

#header .login-out {
    right: 50px !important;
}

/* css inj_search */
.inj_search {
    margin-top: -15px;
    margin-bottom: -20px;
    left: -20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
